extends layout

block header
  h2= title
  p Sidebar on the left, content on the right.

block image 
  img(src='/images/accesses.jpeg', alt='')
  p
    br
    | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
    | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
    | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
    | consequat etiam lorem ipsum dolor sit amet nullam.

block content
  h3= title

  ul
  each val in accessed_list
    li 
      img.avatar(src="/images/glass.png" alt="Access")
      a(href=val.url) #{val.record.number} : #{val.condition} - 
      if val.medication=='Codeine'
        span.text-success #{val.status}
      else if val.status=='Percocet'
        span.text-danger #{val.status}
      else
        span.text-warning #{val.status} 
      if val.status!='Codeine'
        span  (Accessed: #{val.date_accessed_formatted} )

  else
    li There are no record accesses in this database.