extends layout

block content

  h1 ID: #{accessed._id}
  
  p #[strong Number:] 
    a(href=accessed.record.url) #{accessed.record.number}
  p #[strong Condition:] #{accessed.condition}

  p #[strong Medication:] 
    if accessed.medication=='Codeine'
      span.text-success #{accessed.medication}
    else if accessed.medication=='Percocet'
      span.text-danger #{accessed.medication}
    else
      span.text-warning #{accessed.medication} 
      
  if accessed.medication!='Codeine'
    p #[strong Date Accessed:] #{accessed.date_accessed_formatted}

  hr
  p
    a(href=accessed.url+'/delete') Delete accessed
  p
    a(href=accessed.url+'/update') Update accessed