extends layout

block header
  h2= title
  p Welcome to your #[em Medical Record System]

block image
  img(src='/images/banner.jpeg', alt='')
  //- p
  //-   br
  //-   | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
  //-   | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
  //-   | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
  //-   | consequat etiam lorem ipsum dolor sit amet nullam.

block content
  h3= title
  p Welcome to your #[em Medical Record System]

  if error
    p Error getting dynamic content.
  else
    p The database has the following record counts:

    ul
      li #[strong Records:] !{data.record_count}
      li #[strong Accesses:] !{data.accessed_count}
      //li #[strong Accesses available:] !{data.accessed_available_count} 
      li #[strong Patients:] !{data.patient_count}
      li #[strong Clinicians:] !{data.clinician_count}