extends layout

block header
  h2= title
  p Sidebar on the left, content on the right.

block image 
  img(src='/images/patients.jpeg', alt='')
  p
    br
    | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
    | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
    | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
    | consequat etiam lorem ipsum dolor sit amet nullam.

block content
  h3= title
  
  ul
  each patient in patient_list
    li 
      img.avatar(src="/images/patient.png" alt="Patient Avatar")
      a(href=patient.url) #{patient.name} 
      | (#{patient.lifespan})

  else
    li There are no patients.